// Body
$background-color: beige;

// Main Menu
$inputgroup-label-color: black;

// Calculation Type Selector
$calculation-type-select-button-color: gray;
$calculation-type-select-button-hovered-color: lightgray;
$calculation-type-select-button-selected-color: darkgray;
$calculation-type-select-button-fontcolor: black;


// Input Group


// Input
$value-container-border-color: black;
$unit-label-color: black;
$value-color: green;