// Body
$body-padding: 1rem;
$calculation-type-selector-main-menu-distance: 1rem;


// Main Menu
$main-menu-margin: 2rem;

// Calculation Type Selector
$calculation-type-selector-gap: 3rem;
$calculation-type-select-button-padding: 0.5rem;
$calculation-type-select-button-borderradius: 6px;
$calculation-type-select-button-fontsize: 1rem;

// Input Group
$inputgroup-label-inputs-distance: 1rem;
$inputgroup-label-fontsize: 1.25rem;
$inputs-gap: 0.5rem;

// Input container
$unit-label-value-container-distance: 0.25rem;
$unit-label-fontsize: 1rem;
$value-fontsize: 1.5rem;
$value-container-padding: 0.5rem;
$value-padding: 0.5rem;
$value-container-bordersize: 2px;
$value-container-borderradius: 6px;
