@use "./fluidclamp.scss" as *;

$body-padding: fluidHorizontalClamp(0.875rem, 1.25rem);

$fontsize: fluidHorizontalClamp(0.75rem, 1.125rem);

$main-menu-margin: fluidHorizontalClamp(2rem, 4rem);

$calculation-type-select-button-padding: fluidHorizontalClamp(0.375rem, 0.625rem);

$value-fontsize: fluidHorizontalClamp(1.5rem, 2.0625rem);

$value-padding: 0.25rem;

$bordersize: 2px;