@use "abstracts/colors.scss" as *;
@use "abstracts/sizes.scss" as *;

.calculation-type-selector {
    display: flex;
    gap: $calculation-type-selector-gap;
}

.calculation-type-select-button {
    flex: 1;
    padding: $calculation-type-select-button-padding;

    background-color: $secondary-color;

    color: $text-color;
    // font-size: $calculation-type-select-button-fontsize;
    border-radius: $calculation-type-select-button-borderradius;
    font-size: inherit;

    &:hover,
    &:focus {
        background-color: $focus-color;
        color: $text-hover-color;
    }   

    &.selected,
    &:active {
        background-color: $accent-color;
        color: $text-selected-color;
    }
}