@use "abstracts/sizes.scss" as *;
@use "abstracts/colors.scss" as *;

.input {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}

.unit-label {
    color: $text-color;
    padding-left: 4px;
}

.value-container {
    padding: $value-padding; 
    border: $bordersize solid $secondary-color; 
    border-radius: 6px; 
    color: $input-color;
    font-size: $value-fontsize;
    display: flex;
    justify-content: center;

 
}

input,
.time-select {
    padding: 0.25rem;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    text-align: center;
}

input {
    width: 100%; // anders zijn ze defaultvalue van 300px

    overflow-x: scroll;
}

.colon {
    padding: $value-padding;
}

.time-select {
    box-sizing: content-box;
    width: 2.5ch; // de height is ietjes groter dan de width steeds omdat tekst standaard een stukje groter van boven en onder is, zie bv als je tekst selecteert
    border-radius: 4px;
    opacity: 1;

    &:focus {
        background-color: $secondary-color;
    }

    option {
        background-color: $primary-color;

        &:checked {
            background-color: $focus-color;
        }
    }
}





